
/*reset => remise à zero des règles css*/
h1, p, figure, ul, li{ /*enlever les marges interne externe */
    margin: 0;
    padding: 0;
}

body{ /* changer la police de caractère de toutes les balises*/
    font-family: sans-serif;
}

ul, li{ /* enlever les points devant les listes */
    list-style: none;
}

/* mise en page => faire en sorte QUE deux colonnes l'une à côté de l'autre*/

section{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
section .col1{
    width: 48%;
}
section .col2{
    width: 48%;
}

/* section .col2 ul{

} */

.liste{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
}

form > *:not(div){
    margin: 15px 0;
    padding: 8px 4px;
    border : 1px solid blue ; 
}

form textarea{
    height: 80px;
}

form div textarea{
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 8px 4px;
    border : 1px solid blue ; 
}

form button{
    background: blue;
    color : white; 
    cursor: pointer;
}

/* accueil */

.container{
    width: 700px; /* le design a une largeur d'un écran de tablette ET petit écran PC */
    margin: 0 auto;
}
header ul{ /* caller le menu en haut à droite */
    display: flex;
    justify-content: flex-end;
}

header ul li { /* espace entre les liens et taille des liens*/
    margin-left: 20px;
    font-size: 1.6rem;
}
.gallerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0;
}
.gallerie article{
    width: 32%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.gallerie article img{
    width: 100%;
}

.gallerie article h2{
    flex:1; 
}
    